html, body {
    margin: 25px;
    
    
    padding: 0;
  }
 
body {
  background-image: url('bg2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1{
color:black


}
